/*------------------------------
     Font Family Link
----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Font Family end */


/*--------------------------
     body start
--------------------- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #E5E5E5;
}

/* Body end */

/*------------------------------------
            Header start
------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.nav-title {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
    margin-left: 120px;
}

nav ul {
    display: flex;
    justify-items: center;
    margin-right: 120px;
    gap: 34px;
    font-weight: 600;
    font-size: 20px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    list-style: none;
    color: #3A3A3A;
}

/* header end */

/*----------------------------------
        Smart Influencer
---------------------------- */
.smart-influencer {
    display: flex;
    margin-left: 120px;
}

.influencer {
    margin-top: 145px;
}

.influencer-banner img {
    background-image: url(../images/Circle\ design.svg);
    margin-left: 133px;
    margin-top: 70px;
}

.influencer-title {
    font-weight: 700;
    font-size: 52px;
}

.influencer-description {
    font-weight: 600;
    font-size: 16px;
    margin-top: -40px;
}

.preebook-btn {
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #E02C6D;
    border-radius: 41px;
}

/*------------------------------
        E-commerce start
--------------------------- */
.e-commerce-container {
    display: flex;
    width: 1110px;
    height: 110px;
    border: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    margin-left: 150px;
    margin-top: 100px;
}

.ecommerces {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-left: 70px;
}

.ecommerce img {
    width: 99.12px;
    height: 39.61px;
    align-items: center;
}

/*---------------------------------------
        Popular Collection
------------------------------------- */
.popular-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.pl-title {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;


}

.collection {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 476px;
    padding: 15px 15px 0px 15px;
}

.collection .collection-banner {
    width: 300px;
    height: 256px;
}

.product-title {
    font-weight: 500;
    font-size: 28px;
    margin-top: 10px;
}

.product-price {
    font-weight: 400;
    font-size: 24px;
    margin-top: -25px;
}

.collection-details {
    margin-top: -17px;
}

.fa-star {
    margin-left: 5px;
}

.fa-star-half-full {
    margin-left: 5px;
    color: #FB8200;
}

.fa-star.field {
    width: 11.07px;
    height: 10.32px;
    color: #FB8200;
}

.rateing-star {
    margin-left: -3px;
}

.collection-description {
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

/*----------------------------
        See More
--------------------------- */

.see-more-btn {
    margin-right: 0px;
    font-weight: 700;
    font-size: 18px;
    color: rgba(224, 44, 109, 0.87);
    margin-left: 950px;
    margin-top: 50px;
}

.see-more-btn p {
    display: flex;
    align-items: center;
}


.fa-arrow-right {
    width: 18px;
    height: 16px;
    padding-left: 5px;
}

/*---------------------------------------
        Features Products
------------------------------------- */
.product {
    display: flex;
    align-items: center;
    gap: 95px;
    margin-top: 120px;
    margin-left: 120px;
}

.product .product-banner img {
    width: 404px;
    height: 270px;
    border-radius: 7px;
}

.feature-title {
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}

.feature-descriprion {
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
    margin-top: -20px;
}

.products-btn{
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #E02C6D;
    margin-top: 5px;
}

   